@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

.section-oscura {
    background-color: #1b1b32;
    color: white;
}

.title { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.encabezado-principal {
    padding: 3rem;
}

.encabezado-principal h2 {
    font-size: 1.5rem;
    color: #615161;
}

.container .nomina2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 200px;
    padding: 2px;
    margin-bottom: 10px;
}

.derechos-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}
footer {
    margin-top: 24%;
    min-height: 30px;
}